body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  line-height: 1.7;
  background: rgb(110, 210, 93);
  background: linear-gradient(
    208deg,
    rgba(110, 210, 93, 1) 0%,
    rgba(110, 210, 93, 1) 35%,
    rgba(61, 138, 48, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-top: 0;
  color: #fff;
}

.o-page {
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.o-main {
  flex: 1;
}

.c-answer {
  border: 0;
  outline: 0;
  padding: 1em 2em;
  font: inherit;
  cursor: pointer;
  border-radius: 6px;
  border: 4px solid #222;
  background: #dadada;
  transition: all 200ms ease;
  font-weight: 500;
  color: inherit;
}

.c-answer:hover {
  transform: scale(1.05);
}

.c-answer:active {
  transform: scale(1);
}

.c-answer[disabled] {
  cursor: not-allowed;
}

.c-answer[disabled]:hover {
  transform: scale(1);
}

.c-answer--correct {
  background: #44f326;
  color: #222;
  font-weight: 700;
  transform: scale(1.05) !important;
}

.c-answer--incorrect {
  background: hsl(357, 69%, 51%, 0.75);
  color: #fff;
  transform: scale(1);
}

.c-question__question {
  margin-bottom: 2rem;
  letter-spacing: -0.01em;
  background: #6f417d;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 7px;
  box-shadow: 0 7px 20px hsl(0 0% 27% / 0.3);
  border: 4px solid #222;
  color: #fff;
  max-width: 800px;
}

.c-question__answers {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.c-score {
  width: 40px;
  height: 40px;
  margin: 3rem auto 0;
  background: #ea9154;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #222;
  font-weight: 900;
  font-size: 23px;
}

.p-footer p {
  color: #fff;
  font-style: italic;
  font-size: 18px;
}

.c-track {
  max-width: 100px;
  margin: 0 auto;
  background: #fff;
  border-radius: 38px;
  color: #555;
  box-shadow: 0 3px 2px hsl(0, 0%, 33%, 0.2);
  font-weight: 500;
  border: 3px solid #222;
  background: #cc6f87;
  color: #fff;
}

.c-quiz-form {
  border: 4px solid #222;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  padding: 0;
  line-height: 2;
  overflow: hidden;
  box-shadow: 0 21px 41px hsl(111, 45%, 30%, 0.6);
}

.c-quiz-form input[type="text"] {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 4px solid hsl(24, 78%, 70%, 1);
  background: #fff;
  height: 100%;
  display: block;
  line-height: 1;
  padding: 2rem 1rem;
  outline: none;
  text-align: center;
  font: inherit;
  font-weight: 500;
  color: #343434;
  transition: all 200ms ease;
}

.c-quiz-form input[type="text"]:hover {
  background: #dadada;
}

input[type="submit"] {
  display: block;
  width: 100%;
  border: 0;
  font: inherit;
  background: #773f81;
  font-weight: 900;
  font-size: 23px;
  letter-spacing: -0.04em;
  color: #fff;
  outline: 0;
  cursor: pointer;
  border-top: 4px solid #eaeaea;
  border-top: 4px solid hsl(291, 34%, 83%, 1);
}
input[type="submit"]:active {
  background: hsl(291, 34%, 32%, 1);
}

.c-quiz-form__group:not(:first-child) {
  display: flex;
}

.c-quiz-form__group:nth-of-type(2) {
  border-bottom: 4px solid hsl(24, 90%, 89%, 1);
}

.c-radio {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  height: 50px;
}

.c-radio label {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(24, 73%, 95%, 1);
  left: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: all 150ms ease;
  color: #6c6c6c;
}

.c-radio label:hover {
  color: #4c4c4c;

  background: hsl(24, 78%, 70%, 1);
}

.c-radio label:active {
  background: hsl(24, 78%, 63%, 1);
}

input[type="radio"]:checked + label {
  background: hsl(24, 78%, 70%, 1);
  color: #4c4c4c;
}

